'.html.text.vue':
    'create http get and post':
        'prefix': 'vueajax'
        'body': """
this.$http.${1:post}("${2:url}", ${3:this.data})
        .then((res) => {
            ${0:console.log("success : " + JSON.stringify(res))
        })
        .catch((err) => {
            console.warn(JSON.stringify(err));
        })
"""
    'create vue methods':
        'prefix': 'vuemethods'
        'body': """
        methods: function() {
            $0
        },
        """
    'create vue watch':
        'prefix': 'vuewatch'
        'body': """
        watch: function() {
            $0
        },
        """
    'create vue data':
        'prefix': 'vuedata'
        'body': """
        data: function() {
                $0
        },
        """
    'create vue props':
        'prefix': 'vueprops'
        'body': """
        props: function() {
                $0
        },
        """



'.source.js':
    'create http get and post':
        'prefix': 'httpajax'
        'body': """
this.$http.post("${1:url}", ${2:this.data})
        .then((res) => {
            ${3:console.log("success : " + JSON.stringify(res))
        })
        .catch((err) => {
            console.warn(JSON.stringify(err));
        })
"""

    'console.log with variable':
        'prefix': 'logg'
        'body': 'console.log("@@@ ${1:description} - ${2:variable_name}: " + ${2:variable_name});$3'
    'console.log':
        'prefix': 'log'
        'body': 'console.log("@@@ ${1:description}");$2'
    'console.dir':
        'prefix': 'logdir'
        'body': 'console.dir($1);'

    'json stringify':
        'prefix': 'jsonstr',
        'body': 'JSON.stringify'


'.source.go':
    'fmt printf':
        'prefix': 'fmtdump'
        'body': 'fmt.Printf("%+v\n", $1)'
    
    'import iw http':
        'prefix': 'importiwhttp'
        'body': 'iwhttp "encanvaskgo/itwonders/http"'

    'import iw auth':
        'prefix': 'importiwauth'
        'body': 'iwauth "encanvaskgo/itwonders/auth/authuser"'

    'import iw model':
        'prefix': 'importiwmo'
        'body': 'iwmo "encanvaskgo/itwonders/model"'

    'import iw table':
        'prefix': 'importiwtable'
        'body': 'iwtb "encanvaskgo/itwonders/database/table"'

    'import iw database':
        'prefix': 'importiwdb'
        'body': 'iwdb "encanvaskgo/itwonders/database"'

    'import iw util':
        'prefix': 'importiwutil'
        'body': 'iwutil "encanvaskgo/itwonders/util"'

    'import iw ctrl':
        'prefix': 'importiwctrl'
        'body': 'iwctrl "encanvaskgo/itwonders/controller"'

    'import gin':
        'prefix': 'importgin'
        'body': '"github.com/gin-gonic/gin"'

    'import gin binding':
        'prefix': 'importginbinding'
        'body': '"github.com/gin-gonic/gin/binding"'

    'convert mm to type *Model':
        'prefix': 'mmm'
        'body': 'mm := (*Model) (m)'



